In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/onata/Downloads/Classification+preprocessed+data+Python (2).csv")

In [3]:
df.head()

,price,resid_area,air_qual,room_num,age,teachers,poor_prop,n_hos_beds,n_hot_rooms,rainfall,parks,Sold,avg_dist,airport_YES,waterbody_Lake,waterbody_Lake and River,waterbody_River
0,24.0,32.31,0.538,6.575,65.2,24.7,4.98,5.480,11.19200,23,0.049347,0,4.0875,1,0,0,1
1,21.6,37.07,0.469,6.421,78.9,22.2,9.14,7.332,12.17280,42,0.046146,1,4.9675,0,1,0,0
2,34.7,37.07,0.469,7.185,61.1,22.2,4.03,7.394,46.19856,38,0.045764,0,4.9675,0,0,0,0
3,33.4,32.18,0.458,6.998,45.8,21.3,2.94,9.268,11.26720,45,0.047151,0,6.0650,1,1,0,0
4,36.2,32.18,0.458,7.147,54.2,21.3,5.33,8.824,11.28960,55,0.039474,0,6.0625,0,1,0,0

# USING LOGISTIC REGRESSION

In [4]:
X = df[['price']]

In [5]:
Y = df[['Sold']]

In [6]:
#to check the sample
X.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [7]:
#first create the classification object
#then fit that object using the X and Y variable
#predict the Y variable using the trained classification model

In [8]:
from sklearn.linear_model import LogisticRegression
clf_lrs = LogisticRegression()

In [9]:
clf_lrs.fit(X,Y)

C:\Users\onata\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [10]:
clf_lrs.coef_

array([[-0.03571865]])

In [11]:
clf_lrs.intercept_

array([0.61477516])

# USING STATSMODEL

In [23]:
import statsmodels.api as sn

In [24]:
X_cons = sn.add_constant(X)

In [25]:
X_cons.head()

,const,price,resid_area,air_qual,room_num,age,teachers,poor_prop,n_hos_beds,n_hot_rooms,rainfall,parks,avg_dist,airport_YES,waterbody_Lake,waterbody_Lake and River,waterbody_River
0,1.0,24.0,32.31,0.538,6.575,65.2,24.7,4.98,5.480,11.19200,23,0.049347,4.0875,1,0,0,1
1,1.0,21.6,37.07,0.469,6.421,78.9,22.2,9.14,7.332,12.17280,42,0.046146,4.9675,0,1,0,0
2,1.0,34.7,37.07,0.469,7.185,61.1,22.2,4.03,7.394,46.19856,38,0.045764,4.9675,0,0,0,0
3,1.0,33.4,32.18,0.458,6.998,45.8,21.3,2.94,9.268,11.26720,45,0.047151,6.0650,1,1,0,0
4,1.0,36.2,32.18,0.458,7.147,54.2,21.3,5.33,8.824,11.28960,55,0.039474,6.0625,0,1,0,0

import statsmodels.discrete.discrete_model as sm

In [26]:
logit = sn.Logit(Y,X_cons).fit()

Optimization terminated successfully.
         Current function value: 0.556433
         Iterations 6

In [ ]:
logit.summary()

# USING MULTIPLE PREDICTOR TO PREDICT

In [27]:
X = df.loc[:, df.columns != 'Sold']

In [28]:
X.head()

,price,resid_area,air_qual,room_num,age,teachers,poor_prop,n_hos_beds,n_hot_rooms,rainfall,parks,avg_dist,airport_YES,waterbody_Lake,waterbody_Lake and River,waterbody_River
0,24.0,32.31,0.538,6.575,65.2,24.7,4.98,5.480,11.19200,23,0.049347,4.0875,1,0,0,1
1,21.6,37.07,0.469,6.421,78.9,22.2,9.14,7.332,12.17280,42,0.046146,4.9675,0,1,0,0
2,34.7,37.07,0.469,7.185,61.1,22.2,4.03,7.394,46.19856,38,0.045764,4.9675,0,0,0,0
3,33.4,32.18,0.458,6.998,45.8,21.3,2.94,9.268,11.26720,45,0.047151,6.0650,1,1,0,0
4,36.2,32.18,0.458,7.147,54.2,21.3,5.33,8.824,11.28960,55,0.039474,6.0625,0,1,0,0

In [29]:
Y = df['Sold']

In [30]:
clf_lr = LogisticRegression()
clf_lr.fit(X,Y)

C:\Users\onata\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [31]:
clf_lr.coef_

array([[-0.24635598, -0.0172974 , -0.11019361,  0.86259978, -0.00599861,
         0.22819817, -0.21021684,  0.18006798, -0.0908682 , -0.00704751,
        -0.00499201, -0.32611291, -0.10521215, -0.09487293, -0.01512354,
         0.20180247]])

In [32]:
clf_lr.intercept_

array([0.01671264])

# CONFUSION MATRIX

In [33]:
clf_lr.predict_proba(X)

array([[0.1270669 , 0.8729331 ],
       [0.39755057, 0.60244943],
       [0.9807197 , 0.0192803 ],
       ...,
       [0.28594543, 0.71405457],
       [0.280615  , 0.719385  ],
       [0.16347257, 0.83652743]])

In [34]:
y_pred = clf_lr.predict(X)
y_pred

array([1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1],
      dtype=int64)

In [35]:
y_pred_03 = (clf_lr.predict_proba(X)[:,1] >= 0.3).astype(bool)

In [36]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y,y_pred)

array([[196,  80],
       [ 81, 149]], dtype=int64)

In [37]:
confusion_matrix(Y,y_pred_03)

array([[121, 155],
       [ 18, 212]], dtype=int64)

# Evaluating the performance of the model

In [38]:
from sklearn.metrics import precision_score, recall_score

In [39]:
precision_score(Y, y_pred)

0.6506550218340611

In [40]:
recall_score(Y, y_pred)

0.6478260869565218

In [41]:
from sklearn.metrics import roc_auc_score

In [42]:
roc_auc_score(Y, y_pred)

0.6789855072463769

# DOING THE PREDICTION WITH KNN

In [43]:
#Test and train set

In [44]:
#TO test and train the model 
from sklearn.model_selection import train_test_split

In [45]:
X_train, X_test , Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, random_state = 0)

In [46]:
print (X_train.shape, X_test.shape ,Y_train.shape, Y_test.shape)

(404, 16) (102, 16) (404,) (102,)

In [47]:
#to fit a logistic regression in the model
clf_LR =LogisticRegression()
clf_LR.fit(X_train,Y_train)

C:\Users\onata\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [48]:
y_test_pred = clf_LR.predict(X_test)

In [49]:
from sklearn.metrics import accuracy_score , confusion_matrix

In [50]:
confusion_matrix(Y_test, y_test_pred)

array([[37, 21],
       [14, 30]], dtype=int64)

In [51]:
#36 times 31 divided by total observation
accuracy_score(Y_test, y_test_pred)

0.6568627450980392

# k nearest neighbour classifier

In [52]:
#first we standardize our variables

In [53]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler().fit(X_train)
X_train_s = scaler.transform(X_train)

In [54]:
#transformation of the data 
scaler = preprocessing.StandardScaler().fit(X_test)
X_test_s = scaler.transform(X_test)

In [57]:
#to check the smaller range of values of those variables
#standardize convert the mean of all variables to zero and standard variation to 1
X_test_s

array([[ 3.46427198e-02, -1.26009787e+00, -7.59976330e-01, ...,
        -4.93864798e-01, -3.98862018e-01, -7.54473836e-01],
       [ 3.08888478e+00,  1.09537107e+00,  6.84309089e-01, ...,
        -4.93864798e-01, -3.98862018e-01, -7.54473836e-01],
       [ 7.92301952e-02,  4.28041039e-01,  1.73890573e-04, ...,
        -4.93864798e-01, -3.98862018e-01, -7.54473836e-01],
       ...,
       [-4.00085165e-01, -9.60512654e-01, -8.19099125e-01, ...,
        -4.93864798e-01, -3.98862018e-01,  1.32542701e+00],
       [ 6.47720506e-01, -9.50442563e-02, -5.15039037e-01, ...,
        -4.93864798e-01, -3.98862018e-01, -7.54473836e-01],
       [-2.77469608e-01, -4.16820968e-01, -2.53209516e-01, ...,
        -4.93864798e-01,  2.50713268e+00, -7.54473836e-01]])

In [68]:
#to create a KNN model of all the variables, with one neighbour
from sklearn.neighbors import KNeighborsClassifier
clf_knn_1 = KNeighborsClassifier(n_neighbors=1)
clf_knn_1.fit(X_train_s, Y_train)

KNeighborsClassifier(n_neighbors=1)

In [69]:
#to create the confusion Matrix
confusion_matrix(Y_test, clf_knn_1.predict(X_test_s))

array([[30, 28],
       [19, 25]], dtype=int64)

In [70]:
#to get the accuracy score with 1 neighbour
accuracy_score(Y_test, clf_knn_1.predict(X_test_s))

0.5392156862745098

In [71]:
#to create a KNN model of all the variables, with three neighbour
clf_knn_3 = KNeighborsClassifier(n_neighbors=3)
clf_knn_3.fit(X_train_s, Y_train)
accuracy_score(Y_test, clf_knn_3.predict(X_test_s))

0.5392156862745098

# To create a model for multiple values of K

In [73]:
from sklearn.model_selection import GridSearchCV

In [74]:
params = {'n_neighbors': [1,2,3,4,5,6,7,8,9,10]}

In [75]:
params

{'n_neighbors': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}

In [77]:
#first create a object for the classifier
grid_search_cv = GridSearchCV(KNeighborsClassifier(),params)

In [78]:
#to fit
grid_search_cv.fit(X_train_s, Y_train)

GridSearchCV(estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]})

In [79]:
#to find out the best parameters from the parameters
grid_search_cv.best_params_

{'n_neighbors': 9}

In [80]:
#to pick the best model
optimised_KNN = grid_search_cv.best_estimator_

In [81]:
y_test_pred = optimised_KNN.predict(X_test_s)

In [82]:
confusion_matrix(Y_test, y_test_pred)

array([[36, 22],
       [18, 26]], dtype=int64)

In [83]:
accuracy_score(Y_test, y_test_pred)

0.6078431372549019